
Library/ArtifactDB
Library/ArtifactDB-lock
Library/Artifacts/10/10f546d8d44340586427af80a14d57d4
Library/Artifacts/5c/5c89f327ac1b6683b7e621464f35c081
Library/Artifacts/6b/6b5721e4cb90d015af0f0c4209fb5a07
Library/Artifacts/85/85fef7af4e5ca9bc803ff988796768c0
Library/EditorInstance.json
Library/SceneVisibilityState.asset
Library/ShaderCache.db
Library/SourceAssetDB
Library/SourceAssetDB-lock
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/shadercompiler-AssetImportWorker0.log
Temp/UnityLockfile
Temp/workerlic
